In [1]:
# The goal is to download the html of a page that shows the standigs of the epl.
#The requests library will help in making HTTP requests to the website with our data.
import requests

import time

In [2]:
# Defininig the url we are scrapping.
standings_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [3]:
#Downloading the HTML of our page fbref.com defined as standings_url.
standings_html_data = requests.get(standings_url)

In [4]:
from bs4 import BeautifulSoup

In [5]:
#Initalize the soup object, parsing in the HTML object.
soup = BeautifulSoup(standings_html_data.text)

#selecting the table containing the data
standings_html_table = soup.select('table.stats_table')[0]  # at this point we only have the hypertext of the table e are interested in

#getting all the anchors in our table.
standings_a_tag = standings_html_table.find_all('a')

#Getting the href for each link.
standings_href_links = [l.get("href") for l in standings_a_tag]

#Filtering to only have links with the squads or team
squad_links = [l for l in standings_href_links if '/squads/' in l]

In [6]:
squad_links

['/en/squads/b8fd03ef/Manchester-City-Stats',
 '/en/squads/361ca564/Tottenham-Hotspur-Stats',
 '/en/squads/822bd0ba/Liverpool-Stats',
 '/en/squads/18bb7c10/Arsenal-Stats',
 '/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
 '/en/squads/7c21e445/West-Ham-United-Stats',
 '/en/squads/8602292d/Aston-Villa-Stats',
 '/en/squads/e4a775cb/Nottingham-Forest-Stats',
 '/en/squads/47c64c55/Crystal-Palace-Stats',
 '/en/squads/fd962109/Fulham-Stats',
 '/en/squads/cd051869/Brentford-Stats',
 '/en/squads/b2b47a98/Newcastle-United-Stats',
 '/en/squads/19538871/Manchester-United-Stats',
 '/en/squads/cff3d9bb/Chelsea-Stats',
 '/en/squads/4ba7cbea/Bournemouth-Stats',
 '/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
 '/en/squads/1df6b87e/Sheffield-United-Stats',
 '/en/squads/d3fd31cc/Everton-Stats',
 '/en/squads/943e8050/Burnley-Stats',
 '/en/squads/e297cd13/Luton-Town-Stats']

In [7]:
#Getting the full url by adding the string " https://fbref.com" to our links.
squad_urls = [f"https://fbref.com{l}" for l in squad_links]
squad_urls

['https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats',
 'https://fbref.com/en/squads/361ca564/Tottenham-Hotspur-Stats',
 'https://fbref.com/en/squads/822bd0ba/Liverpool-Stats',
 'https://fbref.com/en/squads/18bb7c10/Arsenal-Stats',
 'https://fbref.com/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
 'https://fbref.com/en/squads/7c21e445/West-Ham-United-Stats',
 'https://fbref.com/en/squads/8602292d/Aston-Villa-Stats',
 'https://fbref.com/en/squads/e4a775cb/Nottingham-Forest-Stats',
 'https://fbref.com/en/squads/47c64c55/Crystal-Palace-Stats',
 'https://fbref.com/en/squads/fd962109/Fulham-Stats',
 'https://fbref.com/en/squads/cd051869/Brentford-Stats',
 'https://fbref.com/en/squads/b2b47a98/Newcastle-United-Stats',
 'https://fbref.com/en/squads/19538871/Manchester-United-Stats',
 'https://fbref.com/en/squads/cff3d9bb/Chelsea-Stats',
 'https://fbref.com/en/squads/4ba7cbea/Bournemouth-Stats',
 'https://fbref.com/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
 'https://fbref.com/en/squads/1df6b87e/Sheffield-United-Stats',
 'https://fbref.com/en/squads/d3fd31cc/Everton-Stats',
 'https://fbref.com/en/squads/943e8050/Burnley-Stats',
 'https://fbref.com/en/squads/e297cd13/Luton-Town-Stats']

In [8]:
# getting data on one squad from the squad url, .
mancity_url = squad_urls[0]
mancity_data = requests.get(mancity_url)

In [9]:
import pandas as pd

# Extracting ontly the table with scores and fixtures under mancity.
mancity_matches = pd.read_html (mancity_data.text, match= "Scores & Fixtures")
mancity_matches

[          Date   Time              Comp                Round  Day    Venue
 0   2023-08-06  16:00  Community Shield  FA Community Shield  Sun  Neutral  \
 1   2023-08-11  20:00    Premier League          Matchweek 1  Fri     Away
 2   2023-08-16  22:00         Super Cup       UEFA Super Cup  Wed     Home
 3   2023-08-19  20:00    Premier League          Matchweek 2  Sat     Home
 4   2023-08-27  14:00    Premier League          Matchweek 3  Sun     Away
 5   2023-09-02  15:00    Premier League          Matchweek 4  Sat     Home
 6   2023-09-16  15:00    Premier League          Matchweek 5  Sat     Away
 7   2023-09-19  20:00      Champions Lg          Group stage  Tue     Home
 8   2023-09-23  15:00    Premier League          Matchweek 6  Sat     Home
 9   2023-09-27  20:00           EFL Cup          Third round  Wed     Away
 10  2023-09-30  15:00    Premier League          Matchweek 7  Sat     Away
 11  2023-10-04  21:00      Champions Lg          Group stage  Wed     Away
 12  2023-10-08  16:30    Premier League          Matchweek 8  Sun     Away
 13  2023-10-21  15:00    Premier League          Matchweek 9  Sat     Home
 14  2023-10-25  21:00      Champions Lg          Group stage  Wed     Away
 15  2023-10-29  15:30    Premier League         Matchweek 10  Sun     Away
 16  2023-11-04  15:00    Premier League         Matchweek 11  Sat     Home
 17  2023-11-07  20:00      Champions Lg          Group stage  Tue     Home
 18  2023-11-12  16:30    Premier League         Matchweek 12  Sun     Away
 19  2023-11-25    NaN    Premier League         Matchweek 13  Sat     Home
 20  2023-11-28  20:00      Champions Lg          Group stage  Tue     Home
 21  2023-12-02    NaN    Premier League         Matchweek 14  Sat     Home
 22  2023-12-05    NaN    Premier League         Matchweek 15  Tue     Away
 23  2023-12-09    NaN    Premier League         Matchweek 16  Sat     Away
 24  2023-12-13  18:45      Champions Lg          Group stage  Wed     Away
 25  2023-12-16    NaN    Premier League         Matchweek 17  Sat     Home
 26  2023-12-23    NaN    Premier League         Matchweek 18  Sat     Home
 27  2023-12-26    NaN    Premier League         Matchweek 19  Tue     Away
 28  2023-12-30    NaN    Premier League         Matchweek 20  Sat     Home
 29  2024-01-13    NaN    Premier League         Matchweek 21  Sat     Away
 30  2024-01-31    NaN    Premier League         Matchweek 22  Wed     Home
 31  2024-02-03    NaN    Premier League         Matchweek 23  Sat     Away
 32  2024-02-10    NaN    Premier League         Matchweek 24  Sat     Home
 33  2024-02-17    NaN    Premier League         Matchweek 25  Sat     Home
 34  2024-02-24    NaN    Premier League         Matchweek 26  Sat     Away
 35  2024-03-02    NaN    Premier League         Matchweek 27  Sat     Home
 36  2024-03-09    NaN    Premier League         Matchweek 28  Sat     Away
 37  2024-03-16    NaN    Premier League         Matchweek 29  Sat     Away
 38  2024-03-30    NaN    Premier League         Matchweek 30  Sat     Home
 39  2024-04-03    NaN    Premier League         Matchweek 31  Wed     Home
 40  2024-04-06    NaN    Premier League         Matchweek 32  Sat     Away
 41  2024-04-13    NaN    Premier League         Matchweek 33  Sat     Home
 42  2024-04-20    NaN    Premier League         Matchweek 34  Sat     Away
 43  2024-04-27    NaN    Premier League         Matchweek 35  Sat     Away
 44  2024-05-04    NaN    Premier League         Matchweek 36  Sat     Home
 45  2024-05-11    NaN    Premier League         Matchweek 37  Sat     Away
 46  2024-05-19    NaN    Premier League         Matchweek 38  Sun     Home

    Result     GF     GA         Opponent   xG  xGA  Poss  Attendance
 0       D  1 (1)  1 (4)          Arsenal  NaN  NaN  55.0     81145.0  \
 1       W      3      0          Burnley  1.9  0.3  65.0     21572.0
 2       D  1 (5)  1 (4)       es Sevilla  NaN  NaN  74.0         NaN
 3       W      1      0    Newcastle Utd  1.0  0.3  59.0         NaN
 4       W      2      1    Sheffield Utd  3.5  0.7  79.0     31336.0
 5       W      5      1           Fulham  2.2  1.4  68.0     52899.0
 6       W      3      1         West Ham  3.6  0.9  68.0     62475.0
 7       W      3      1      rs Red Star  4.1  0.8  76.0     50204.0
 8     NaN    NaN    NaN  Nott'ham Forest  NaN  NaN   NaN         NaN
 9     NaN    NaN    NaN    Newcastle Utd  NaN  NaN   NaN         NaN
 10    NaN    NaN    NaN           Wolves  NaN  NaN   NaN         NaN
 11    NaN    NaN    NaN    de RB Leipzig  NaN  NaN   NaN         NaN
 12    NaN    NaN    NaN          Arsenal  NaN  NaN   NaN         NaN
 13    NaN    NaN    NaN         Brighton  NaN  NaN   NaN         NaN
 14    NaN    NaN    NaN    ch Young Boys  NaN  NaN   NaN         NaN
 15    NaN    NaN    NaN   Manchester Utd  NaN  NaN   NaN         NaN
 16    NaN    NaN    NaN      Bournemouth  NaN  NaN   NaN         NaN
 17    NaN    NaN    NaN    ch Young Boys  NaN  NaN   NaN         NaN
 18    NaN    NaN    NaN          Chelsea  NaN  NaN   NaN         NaN
 19    NaN    NaN    NaN        Liverpool  NaN  NaN   NaN         NaN
 20    NaN    NaN    NaN    de RB Leipzig  NaN  NaN   NaN         NaN
 21    NaN    NaN    NaN        Tottenham  NaN  NaN   NaN         NaN
 22    NaN    NaN    NaN      Aston Villa  NaN  NaN   NaN         NaN
 23    NaN    NaN    NaN       Luton Town  NaN  NaN   NaN         NaN
 24    NaN    NaN    NaN      rs Red Star  NaN  NaN   NaN         NaN
 25    NaN    NaN    NaN   Crystal Palace  NaN  NaN   NaN         NaN
 26    NaN    NaN    NaN        Brentford  NaN  NaN   NaN         NaN
 27    NaN    NaN    NaN          Everton  NaN  NaN   NaN         NaN
 28    NaN    NaN    NaN    Sheffield Utd  NaN  NaN   NaN         NaN
 29    NaN    NaN    NaN    Newcastle Utd  NaN  NaN   NaN         NaN
 30    NaN    NaN    NaN          Burnley  NaN  NaN   NaN         NaN
 31    NaN    NaN    NaN        Brentford  NaN  NaN   NaN         NaN
 32    NaN    NaN    NaN          Everton  NaN  NaN   NaN         NaN
 33    NaN    NaN    NaN          Chelsea  NaN  NaN   NaN         NaN
 34    NaN    NaN    NaN      Bournemouth  NaN  NaN   NaN         NaN
 35    NaN    NaN    NaN   Manchester Utd  NaN  NaN   NaN         NaN
 36    NaN    NaN    NaN        Liverpool  NaN  NaN   NaN         NaN
 37    NaN    NaN    NaN         Brighton  NaN  NaN   NaN         NaN
 38    NaN    NaN    NaN          Arsenal  NaN  NaN   NaN         NaN
 39    NaN    NaN    NaN      Aston Villa  NaN  NaN   NaN         NaN
 40    NaN    NaN    NaN   Crystal Palace  NaN  NaN   NaN         NaN
 41    NaN    NaN    NaN       Luton Town  NaN  NaN   NaN         NaN
 42    NaN    NaN    NaN        Tottenham  NaN  NaN   NaN         NaN
 43    NaN    NaN    NaN  Nott'ham Forest  NaN  NaN   NaN         NaN
 44    NaN    NaN    NaN           Wolves  NaN  NaN   NaN         NaN
 45    NaN    NaN    NaN           Fulham  NaN  NaN   NaN         NaN
 46    NaN    NaN    NaN         West Ham  NaN  NaN   NaN         NaN

             Captain Formation            Referee  Match Report
 0       Kyle Walker   4-2-3-1     Stuart Attwell  Match Report  \
 1   Kevin De Bruyne   4-2-3-1       Craig Pawson  Match Report
 2       Kyle Walker   4-2-3-1  François Letexier  Match Report
 3       Kyle Walker   4-2-3-1       Robert Jones  Match Report
 4       Kyle Walker   4-2-3-1     Jarred Gillett  Match Report
 5       Kyle Walker   4-2-3-1     Michael Oliver  Match Report
 6       Kyle Walker   4-2-3-1        Andy Madley  Match Report
 7       Kyle Walker   4-2-3-1      João Pinheiro  Match Report
 8               NaN       NaN                NaN  Head-to-Head
 9               NaN       NaN                NaN  Head-to-Head
 10              NaN       NaN                NaN  Head-to-Head
 11              NaN       NaN                NaN  Head-to-Head
 12              NaN       NaN                NaN  Head-to-Head
 13              NaN       NaN                NaN  Head-to-Head
 14              NaN       NaN                NaN  Head-to-Head
 15              NaN       NaN                NaN  Head-to-Head
 16              NaN       NaN                NaN  Head-to-Head
 17              NaN       NaN                NaN  Head-to-Head
 18              NaN       NaN                NaN  Head-to-Head
 19              NaN       NaN                NaN  Head-to-Head
 20              NaN       NaN                NaN  Head-to-Head
 21              NaN       NaN                NaN  Head-to-Head
 22              NaN       NaN                NaN  Head-to-Head
 23              NaN       NaN                NaN  Head-to-Head
 24              NaN       NaN                NaN  Head-to-Head
 25              NaN       NaN                NaN  Head-to-Head
 26              NaN       NaN                NaN           NaN
 27              NaN       NaN                NaN  Head-to-Head
 28              NaN       NaN                NaN  Head-to-Head
 29              NaN       NaN                NaN  Head-to-Head
 30              NaN       NaN                NaN  Head-to-Head
 31              NaN       NaN                NaN  Head-to-Head
 32              NaN       NaN                NaN  Head-to-Head
 33              NaN       NaN                NaN  Head-to-Head
 34              NaN       NaN                NaN  Head-to-Head
 35              NaN       NaN                NaN  Head-to-Head
 36              NaN       NaN                NaN  Head-to-Head
 37              NaN       NaN                NaN  Head-to-Head
 38              NaN       NaN                NaN  Head-to-Head
 39              NaN       NaN                NaN  Head-to-Head
 40              NaN       NaN                NaN  Head-to-Head
 41              NaN       NaN                NaN  Head-to-Head
 42              NaN       NaN                NaN  Head-to-Head
 43              NaN       NaN                NaN  Head-to-Head
 44              NaN       NaN                NaN  Head-to-Head
 45              NaN       NaN                NaN  Head-to-Head
 46              NaN       NaN                NaN  Head-to-Head

                                                 Notes
 0   Arsenal won on penalty kicks following normal ...
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                    Match Postponed
 27                                                NaN
 28                                                NaN
 29                                                NaN
 30                                                NaN
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN
 35                                                NaN
 36                                                NaN
 37                                                NaN
 38                                                NaN
 39                                                NaN
 40                                                NaN
 41                                                NaN
 42                                                NaN
 43                                                NaN
 44                                                NaN
 45                                                NaN
 46                                                NaN  ]

### Getting shooting data

In [10]:
#Parse in the html of the team data.In this cas,our teamin ManCity.
shooting_soup = BeautifulSoup(mancity_data.text)

#Find all anchor tags for the shooting data.
shooting_a_tags = shooting_soup.find_all('a')

# Extract the hrefs
shootings_hrefs = [l.get("href") for l in shooting_a_tags]

#Extract the links that contain 'all_comps/shooting/'
shooting_links = [l for l in shootings_hrefs if l and'all_comps/shooting/' in l]

In [11]:
# Getting the html of the shooting data.

shooting_data_html = requests.get(f"https://fbref.com{shooting_links[0]}")

In [12]:
shooting_data = pd.read_html(shooting_data_html.text, match= "Shooting")[0]

In [13]:
shooting_data.columns = shooting_data.columns.droplevel()
shooting_data.head(2)

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Match Report
0,2023-08-06,16:00,Community Shield,FA Community Shield,Sun,Neutral,D,1 (1),1 (4),Arsenal,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,Match Report
1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,Burnley,...,13.9,0.0,0,0,1.9,1.9,0.12,1.1,1.1,Match Report

### Extract Passing Data.

In [14]:
#Parse in the html of the team data.In this cas,our teamin ManCity.
passing_soup = BeautifulSoup(mancity_data.text)

#Find all anchor tags for the passing data.
passing_a_tags = passing_soup.find_all('a')

# Extract the hrefs
passings_hrefs = [l.get("href") for l in passing_a_tags]

#Extract the links that contain 'all_comps/passing/'
passing_links = [l for l in passings_hrefs if l and'all_comps/passing/' in l]

passing_links

['/en/squads/b8fd03ef/2023-2024/matchlogs/all_comps/passing/Manchester-City-Match-Logs-All-Competitions',
 '/en/squads/b8fd03ef/2023-2024/matchlogs/all_comps/passing/Manchester-City-Match-Logs-All-Competitions',
 '/en/squads/b8fd03ef/2023-2024/matchlogs/all_comps/passing/Manchester-City-Match-Logs-All-Competitions',
 '/en/squads/b8fd03ef/2023-2024/matchlogs/all_comps/passing/Manchester-City-Match-Logs-All-Competitions']

In [15]:
# Getting the html of the passing data.
from bs4 import BeautifulSoup
passing_data_html = requests.get(f"https://fbref.com{passing_links[0]}")

In [16]:

passing_data = pd.read_html(passing_data_html.text, match= "Passing")

In [17]:
# Select the first DataFrame from the list (index 0) and store it in pass_data
pass_data = passing_data[0].loc[:, [('For Manchester City', 'Date'),
                                     ('For Manchester City', 'Time')] + [('Total', col) 
                                                                         for col in passing_data[0]['Total'].columns]]

pass_data

  For Manchester City          Total
                 Date   Time     Cmp     Att  Cmp%  TotDist  PrgDist
0          2023-08-06  16:00     NaN     NaN   NaN      NaN      NaN
1          2023-08-11  20:00   655.0   740.0  88.5  10790.0   3194.0
2          2023-08-16  22:00     NaN     NaN   NaN      NaN      NaN
3          2023-08-19  20:00   632.0   714.0  88.5  10155.0   2989.0
4          2023-08-27  14:00   707.0   793.0  89.2  12243.0   3342.0
5          2023-09-02  15:00   681.0   766.0  88.9  11763.0   3078.0
6          2023-09-16  15:00   676.0   747.0  90.5  10979.0   2860.0
7          2023-09-19  20:00   709.0   782.0  90.7  11385.0   3401.0
8                 NaN    NaN  4060.0  4542.0  89.4  67315.0  18864.0

In [18]:
pass_data.columns = pass_data.columns.droplevel()
pass_data.head(2)

         Date   Time    Cmp    Att  Cmp%  TotDist  PrgDist
0  2023-08-06  16:00    NaN    NaN   NaN      NaN      NaN
1  2023-08-11  20:00  655.0  740.0  88.5  10790.0   3194.0

##### Merging matches and shooting data

In [19]:
mancity_team_data = mancity_matches[0].merge(shooting_data[["Date", "Sh", "SoT", "Dist", "FK", "PK", "PKatt"]], on="Date").merge(pass_data, on="Date")
mancity_team_data.head(2)

,Date,Time_x,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Dist,FK,PK,PKatt,Time_y,Cmp,Att,Cmp%,TotDist,PrgDist
0,2023-08-06,16:00,Community Shield,FA Community Shield,Sun,Neutral,D,1 (1),1 (4),Arsenal,...,NaN,NaN,0,0,16:00,NaN,NaN,NaN,NaN,NaN
1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,Burnley,...,13.9,0.0,0,0,20:00,655.0,740.0,88.5,10790.0,3194.0

#### Scrapping for multiple season and teams.

In [20]:
#settings list of years we want to scrap.
years = list(range(2023, 2017, -1))
years

[2023, 2022, 2021, 2020, 2019, 2018]

In [21]:
# This list holds multiple dataframes, each dataframe will contain match logs of one team in one season.
all_matches = []

In [22]:
standings_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [39]:
for year in years:
    data = requests.get(standings_url)
    soup = BeautifulSoup(data.text, 'html.parser')
    standings_table = soup.select("table.stats_table")[0]
    links = [l.get("href") for l in standings_table.find_all("a")]
    links = [l for l in links if '/squads/' in l]
    team_urls = [f"https://fbref.com{l}" for l in links]

    previous_season = soup.select("a.prev")[0].get("href")
    standings_url = f"http://fbref.com{previous_season}"

    for team_url in team_urls:
        team_name = team_url.split("/")[-1].replace("-Stats", " ").replace("-", " ")
        data = requests.get(team_url)
        soup = BeautifulSoup(data.text, 'html.parser')
        
        # Example: Extracting data from a specific table with a class
        passing_table = soup.find('table', {'class': 'passing-table-class'})
        passing_data = []  # Initialize a list to store the extracted data
        
        if passing_table:
            rows = passing_table.find_all('tr')
            for row in rows:
                cols = row.find_all('td')
                cols_data = [col.text.strip() for col in cols]
                passing_data.append(cols_data)
        
        # You can adapt the code for extracting shooting data as well
        
        try:
            team_data = matches.merge(shooting[["Date", "Sh", "SoT", "FK", "Dist", "PK", "PKatt"]], on="Date")
        except ValueError:
            continue
        
        team_data = team_data[team_data["Comp"] == "Premier League"]
        team_data["Season"] = year
        team_data["Team"] = team_name
        all_matches.append(team_data)
        time.sleep(3)

In [41]:
#Merging the data using dataframe
import pandas as pd

# Assuming all_matches is a list of DataFrames
data = pd.concat(all_matches, ignore_index=True)

In [45]:
data.head(3)

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Match Report,Notes,Sh,SoT,FK,Dist,PK,PKatt,Season,Team
0,2023-08-06,16:00,Community Shield,FA Community Shield,Sun,Neutral,D,1 (1),1 (4),Arsenal,...,Match Report,Arsenal won on penalty kicks following normal ...,8.0,4.0,NaN,NaN,0.0,0.0,2023,Manchester City
1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,Burnley,...,Match Report,NaN,17.0,8.0,0.0,13.9,0.0,0.0,2023,Manchester City
2,2023-08-16,22:00,Super Cup,UEFA Super Cup,Wed,Home,D,1 (5),1 (4),es Sevilla,...,Match Report,NaN,23.0,7.0,NaN,NaN,0.0,0.0,2023,Manchester City

In [51]:

data.shape

(9456, 27)

In [46]:
#Checking for data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9456 entries, 0 to 9455
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9456 non-null   object
 1   Time          9456 non-null   object
 2   Comp          9456 non-null   object
 3   Round         9456 non-null   object
 4   Day           9456 non-null   object
 5   Venue         9456 non-null   object
 6   Result        9456 non-null   object
 7   GF            9456 non-null   object
 8   GA            9456 non-null   object
 9   Opponent      9456 non-null   object
 10  xG            8835 non-null   float64
 11  xGA           8835 non-null   float64
 12  Poss          9436 non-null   float64
 13  Attendance    8359 non-null   float64
 14  Captain       9454 non-null   object
 15  Formation     9454 non-null   object
 16  Referee       9455 non-null   object
 17  Match Report  9456 non-null   object
 18  Notes         310 non-null    object
 19  Sh            9436 non-null   float64
 20  SoT           9436 non-null   float64
 21  FK            8835 non-null   float64
 22  Dist          8833 non-null   float64
 23  PK            9454 non-null   float64
 24  PKatt         9454 non-null   float64
 25  Season        9456 non-null   int64
 26  Team          9456 non-null   object
dtypes: float64(10), int64(1), object(16)
memory usage: 1.9+ MB

In [47]:
#Checking for null values
data.isna().sum()

Date               0
Time               0
Comp               0
Round              0
Day                0
Venue              0
Result             0
GF                 0
GA                 0
Opponent           0
xG               621
xGA              621
Poss              20
Attendance      1097
Captain            2
Formation          2
Referee            1
Match Report       0
Notes           9146
Sh                20
SoT               20
FK               621
Dist             623
PK                 2
PKatt              2
Season             0
Team               0
dtype: int64

In [48]:
# Save to csv
data.to_csv("Football_analysis.csv")

In [50]:
#Checking the columns
data.columns

Index(['Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA',
       'Opponent', 'xG', 'xGA', 'Poss', 'Attendance', 'Captain', 'Formation',
       'Referee', 'Match Report', 'Notes', 'Sh', 'SoT', 'FK', 'Dist', 'PK',
       'PKatt', 'Season', 'Team'],
      dtype='object')

In [54]:
# Checking on unique
data["Team"].unique()

array(['Manchester City ', 'Tottenham Hotspur ', 'Liverpool ', 'Arsenal ',
       'Brighton and Hove Albion ', 'West Ham United ', 'Aston Villa ',
       'Nottingham Forest ', 'Crystal Palace ', 'Fulham ', 'Brentford ',
       'Newcastle United ', 'Manchester United ', 'Chelsea ',
       'Bournemouth ', 'Wolverhampton Wanderers ', 'Sheffield United ',
       'Everton ', 'Burnley ', 'Luton Town ', 'Leicester City ',
       'Leeds United ', 'Southampton ', 'Watford ', 'Norwich City ',
       'West Bromwich Albion ', 'Cardiff City ', 'Huddersfield Town ',
       'Swansea City ', 'Stoke City ', 'Hull City ', 'Middlesbrough ',
       'Sunderland ', 'Queens Park Rangers ', 'Wigan Athletic ',
       'Reading '], dtype=object)